/* first-section ------------------------------------------------------------------------*/

    .firstsection{
        display:flex;
        justify-content:space-around;
        margin:20px 0px;
        align-items: center;
    }
    .firstsection >div{
        width:40%;
    }
    .leftsection{
        font-size: 2.5rem;
    }
    #element{
        color:blueviolet;
    }
    .purple{
        color:blueviolet;
    }

    .rightsection img{
        width:90%;
        margin:30px;
    }

/*  second-section------------------------------------------------------------------------  */
    .secondsection{
        box-sizing: border-box;
        justify-content: space-around;
        margin:20px 0px;
    }


/* Coding profiles section */

    .coding-profiles{

    }

    .coding-profiles iframe{
        background-color: white;
    }

    .container {
        width: 100%;
        display: flex;
    }

    .box {
        width: 50%;
        box-sizing: border-box;
        padding: 20px;
        border: 1px solid #ccc;
    }

/*  Social-profiles section */
    
    .img a img{
        width:70px;
        height:70px;
        border-radius: 100px;
    }

    .profiles{
        margin:10px 0px;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .kl{
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
    }
    .doubles{
        display:flex;
        flex-direction: row;
        margin:40px;
    }
    .single{
        display: flex;
        width:50vw;
    }

    .raw{
        margin:10px 0px;
    }

    .text a{
        text-decoration: none;
        color:white;
        margin:0px 0px 0px 40px; 
    }

    /* For responsive design----------------------------------------------------------------------- */

    
    @media screen and (max-width: 600px) {
        
    /* for responsiveness in first-section */

        .firstsection{
           display:flex;
           flex-direction: column;
           justify-content:space-around;
           align-items: center;
        }

        .leftsection{
           margin-left:-100px;
        }

    /* for responsiveness in developer-profiles section */
        .doubles{
            display:flex;
            flex-direction: column;
        }
        .single{
            margin:20px 0px;
        }
        #mert{
            margin-top:-50px;
        }
    }

